.root {
    -bs-color-primary: #25b136;
    -bs-color-primary-dark: #2ea33c;
    -bs-text-color: #0a0a0a;
    -bs-background-color: #ffffff;
    -bs-background-gray: #cfcecf;
    -bs-color-gray: #373737;
    -bs-color-gray-11: #1d1d21;
    -bs-color-gray-10: #2e2e31;
    -bs-color-gray-6: #504f52;
    -bs-color-gray-4: #7b7b7c;
    -bs-color-gray-3: #929293;
    -bs-color-gray-2: #afaeb0;
    -bs-color-gray-1: #cfcecf;
    -bs-color-gray-0: #f2f2f2;
    -bs-rd-green: #25B135;
    -bs-rd-green-dark: #3EA34A;
    -bs-rd-nav-selected: #25b136;
    -bs-rd-nav-deselected: rgba(255, 255, 255, 0.59);
    -bs-rd-nav-background: #2ea33c;
    -bs-rd-nav-primary-background: #25b136;
    -bs-rd-nav-primary-border: #44a750;
    -bs-rd-nav-border: #504f52;
    -bs-rd-nav-border-color: rgba(255, 255, 255, 0.31);
    -bs-rd-tab-border: derive(#f2f2f2, -5%);
    -bs-tab-content-area: #ffffff;
    -bs-color-gray-background: #f2f2f2;
    -bs-content-pane-bg-top: #f2f2f2;
    -bs-content-pane-bg-bottom: derive(#f2f2f2, -2%);
    -bs-scroll-pane-background: transparent;
    -bs-tab-content-area: transparent;
    -bs-viewport-background: transparent;
    -bs-footer-pane-background: #cfcecf;
    -bs-footer-pane-text: #1d1d21;
    -bs-footer-pane-line: #cfcecf;
    -bs-rd-font-balance: #1d1d21;
    -bs-rd-font-dark-gray: #2e2e31;
    -bs-rd-font-dark: #2e2e31;
    -bs-rd-font-light: #504f52;
    -bs-rd-font-lighter: #7b7b7c;
    -bs-rd-font-confirmation-label: #504f52;
    -bs-rd-font-balance-label: #504f52;
    -bs-text-color-transparent-dark: rgba(29, 29, 33, 0.54);
    -bs-text-color-transparent: rgba(29, 29, 33, 0.2);
    -bs-color-gray-line: #504f52;
    -bs-rd-separator: #cfcecf;
    -bs-rd-separator-dark: derive(#f2f2f2, -5%);
    -bs-rd-error-red: #d83431;
    -bs-rd-message-bubble: #2cadaf;
    -bs-toggle-selected: #504f52;
    -bs-rd-tooltip-truncated: #0a0a0a;
    -bs-warning: #db6300;
    -bs-buy: #2ea33c;
    -bs-buy-focus: black;
    -bs-buy-hover: #237b2d;
    -bs-buy-transparent: rgba(46, 163, 60, 0.3);
    -bs-sell: #ee6563;
    -bs-sell-focus: #090202;
    -bs-sell-hover: #b42522;
    -bs-sell-transparent: rgba(216, 52, 49, 0.3);
    -bs-volume-transparent: rgba(37, 177, 54, 0.3);
    -bs-candle-stick-average-line: rgba(21, 188, 29, 0.8);
    -bs-candle-stick-loss: #ee6563;
    -bs-candle-stick-won: #15bc1d;
    -bs-cancel: #cfcecf;
    -bs-cancel-focus: #504e50;
    -bs-cancel-hover: #b6b4b6;
    -fx-accent: #2ea33c;
    -fx-box-border: #cfcecf;
    -fx-focus-color: #2ea33c;
    -fx-faint-focus-color: rgba(11, 76, 96, 0.13);
    -fx-selection-bar: #c4d9c5;
    -fx-selection-bar-non-focused: -fx-selection-bar;
    -fx-default-button: white;
}
